body {
  /* overflow: hidden; */
  background-position: 100%;
  background-size: absolute;
  /* background-image: url("https://wallpapercave.com/wp/wp4558087.jpg"); */
  /* background-image: linear-gradient(rgb(11, 11, 82), rgb(88, 16, 88)); */
  background-image: radial-gradient(circle, rgb(31, 11, 76) 10%, rgb(90, 36, 90) 40%, rgb(4, 3, 4) 85%);
  background-attachment: fixed;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}